div{
    position:absolute;
    padding:2%;
    margin-top:5%;
    background-color: rgb(192, 190, 190);
    font-size:4vw;
    width:30%;
    border-radius: 1.2vw;
    margin-left:30%;
}
td{
    border:solid 1px;
    text-align: center;
    background-color: rgb(248, 246, 246);
    border-radius:1.2vw;
    vertical-align: center;
}
td:hover{
    background-color:rgb(214, 214, 214)
}
td:active{
    background-color: rgb(192, 190, 190);
    border-color: #2e2e2e;
    box-shadow: 0 0 1rem #2e2e2e;
}
table{
    table-layout:fixed;
    width:100%;
}
th{
    height:6vw;
    background-color: white;
    border-radius: 1.2vw;
    text-align:right;
    padding:1vw;
}

